@include mobile {
  .container {
    .content {
      width   : auto;
      padding : 0 $gap-global-small;
    }
  }
}

body,
html {
  height : 100%;
}

body {
  width : 100%;
}

* {
  box-sizing : border-box;
}

main {
  width : 100%;
}

.container {
  display  : flex;
  position : relative;
  width    : 100%;

  .content {
    width     : 100%;
    max-width : $maxwidth-global;
    margin    : 0 auto;
    padding   : 0 $gap-global;
  }
}

.list {
  &.list--nostyle {
    padding    : 0;
    list-style : none;
  }

  &.list--inline {
    position : relative;
    padding  : 0;

    .item {
      display     : inline-block;
      position    : relative;
      margin-left : 30px;
    }
  }
}
