/*------------------------------------*\
    $ ICONS
\*------------------------------------*/
.icon-sprite-MONSITE {
  width: 20px;
  height: 20px;
  display: inline-block;
  // background-image: url($pathIMG + 'svg/sprite-MONSITE.svg');
  background-repeat: no-repeat;
  &.icon- {
    /*
      Navigation
    */
    &user {
      // width: 25px;
      // height: 25px;
      // background-position: 3px 10px;
    }
  }
}