
.hide{
  display: none !important;
  @each $media in $list-medias{
    @include media($media){
      &_#{$media} {
        display : none !important;
      }
    }
  }
}
// .hide_large-desktop
// .hide_desktop
// .hide_tablet
// .hide_only-tablet
// .hide_mobile
// .hide_landscape
// .hide_print
.invisible {
  opacity : 0;
  @each $media in $list-medias{
    @include media($media){
      &_#{$media} {
        opacity : 0;
      }
    }
  }
}
// .invisible_large-desktop
// .invisible_desktop
// .invisible_tablet
// .invisible_only-tablet
// .invisible_mobile
// .invisible_landscape
// .invisible_print
@each $name-color, $ color in $list-etat {
  .#{$name-color} { background-color: $ color; }
}
// .error
// .warning
// .valid
// .info
.full {
  &.container {
    max-width : none;

    >.content {
      margin-left : -$gap-global;
    }
  }
}

@include media('tablet') {
  .full.container > .content {
    margin-left : -$gap-global-mobile;
  }
}