@include desktop {
  .hide_desktop {
    display : none !important;
  }
}

@include tablet {
  .hide_tablet {
    display : none !important;
  }

  .full.container > .content {
    margin-left : -$gap-global-small;
  }
}

@include mobile {
  .hide_mobile {
    display : none !important;
  }
}

.hide {
  display : none;
}

.invisible {
  opacity : 0;
}

.full {
  &.container {
    max-width : none;

    >.content {
      margin-left : -$gap-global;
    }
  }
}
