////
  /// @group Mixins
////
/*------------------------------------*\
    $ MEDIAS QUERIES
\*------------------------------------*/
/// Code pour les grand écrans d'ordinateurs
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include large-desktop() {
///       // Code for large-desktop device
///    }
///
/// @example scss - CSS result
///   @media screen and (min-width: 1199.99px) {
///      // Code for large-desktop device
///   }
@mixin large-desktop {
  @media screen and (min-width: #{$large-desktop}) {
    @content;
  }
}


/// Code pour les écrans d'ordinateurs et +
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include desktop() {
///       // Code for desktop device
///    }
///
/// @example scss - CSS result
///   @media screen and (min-width: 991.99px) {
///      // Code for desktop device
///   }
@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}


/// Code uniquement pour les écrans de tablette
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include only-tablet() {
///       // Code for only-tablet device
///    }
///
/// @example scss - CSS result
///   @media screen and (min-width: 575.99px) and (max-width: 767.99px) {
///      // Code for only-tablet device
///   }
@mixin only-tablet {
  @media screen and (min-width: #{$mobile}) and (max-width: #{$tablet}) {
    @content;
  }
}


/// Code pour les écrans de tablette et -
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include tablet() {
///       // Code for tablet device
///    }
///
/// @example scss - CSS result
///   @media screen and (max-width: 767.99px) {
///      // Code for tablet device
///   }
@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}


/// Code uniquement pour les écrans mobile
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include mobile() {
///       // Code for mobile device
///    }
///
/// @example scss - CSS result
///   @media screen and (max-width: 575.99px) {
///      // Code for mobile device
///   }
@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}


/// Code uniquement pour les écrans en format paysage
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include landscape() {
///       // Code for landscape device
///    }
///
/// @example scss - CSS result
///   @media screen and (orientation: landscape) {
///      // Code for landscape device
///   }
@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}


/// Code uniquement pour l'impression
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include print() {
///       // Code for printer
///    }
///
/// @example scss - CSS result
///   @media print {
///      // Code for printer
///   }
@mixin print {
  @media print {
    @content;
  }
}

/// Raccourcie de media query
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include media(max-width:350px) {
///       // Code for your media max-width 350px device
///    }
@mixin media($media){
  @media screen and (#{$media}) {
    @content;
  }
}


/*__.---------------------------*\
    $ CENTRER
\*__.---------------------------*/
@mixin center-absolute($xy) {
  position: absolute;
  
  @if $xy == 'x' {
    left: 50%;
    transform: translate(-50%);
  }
  @else if $xy == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if $xy == 'xy' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@mixin center-flex($xy) {
  display: flex;

  @if $xy == 'x' {
    justify-content: center;
  }
  @else if $xy == 'y' {
    align-items: center;
  }
  @else if $xy == 'xy' {
    align-items: center;
    justify-content: center;
  }
}
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*__.---------------------------*\
    $ FONT-SIZE
\*__.---------------------------*/
@function calculateRem($fz-body) {
  $remSize: $fz-body / 16px;
  @return  $remSize * 1rem;
}

/// font-size rem and fallback px
/// @param {number} $size - Font size (px)
/// @name
///
/// @example scss - Basic Usage SCSS
///    @include font-size(16px);
///
/// @example scss - CSS result
///    font-size: 16px;
///    font-size: 1rem;
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}