/** Colors */
$primary: #3bcf9a;
$secondary: #0b0726;

$pathIMG: "/src/img";

// Gap
$gap-global: 20px;
$gap-global-small: 40px;

$maxwidth-global: 1024px;

// Medias
$tablet: 767px;
$mobile: 991px;
$desktop: 991px;