////
  /// @group Variables
////
/*------------------------------------*\
    $ COLORS
\*------------------------------------*/
/// @type Colors
/// @name
  $primary   : #3bcf9a !default;
/// @type Colors
/// @name
  $secondary : #0b0726 !default;
/// @type Colors
/// @name
  $grey      : #e2e1e0 !default;

/*------------------------------------*\
    $ SHADOWS
\*------------------------------------*/
  $shadow--1 : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  $shadow--2 : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  $shadow--3 : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  $shadow--4 : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  $shadow--5 : 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

/*------------------------------------*\
    $ FONTS
\*------------------------------------*/
/// @name
  $ff-body:     Helvetica, Roboto, 'Open Sans', Arial, sans-serif; 
/// @name
    $fz-body:   16px; 
/// @name
  $ff-title:    'Times New Roman', Times, serif;
/// @name
    $fz-h1:     35px; 
/// @name
    $fz-h2:     30px;
/// @name
    $fz-h3:     25px;
/// @name
    $fz-h4:     18px;
/*------------------------------------*\
    $ PATHS
\*------------------------------------*/
  $pathIMG : "../img/";

/*------------------------------------*\
    $ LISTS
\*------------------------------------*/
  $list-medias: large-desktop desktop tablet only-tablet mobile landscape print;
  $list-color: ('primary', $primary), ('secondary', $secondary);
  

/*------------------------------------*\
    $ MEDIAS
\*------------------------------------*/
/// @name
  $mobile        : 575.99px; 
/// @name
  $tablet        : 767.99px; 
/// @name
  $desktop       : 991.99px; 
/// @name
  $large-desktop : 1199.99px;