const path = require('path');

// Variables à changer:      
const 
// SOURCES
      source               = '/src', // nom du dossier source contenant tout le html / css / js...
        // source - folder
      source_images_folder = '/img',  // nom du dossier source contenant les images
      source_script_folder = '/js',   // nom du dossier source contenant les scripts
      source_style_folder  = '/scss', // nom du dossier source contenant les styles
        // source - file
      source_script_file   = "/app.js",    // nom du fichier source du script maître contenant tous les imports
      source_style_file    = "/main.scss", // nom du fichier source du style maître contenant tous les imports
// COMPILATION
      dist                 = '/dist', // nom du dossier de destination après compilation
        // dist - folder
        dist_image_folder    = "images/",   // nom du dossier de destination contenant les images
        dist_script_folder   = "scripts/",  // nom du dossier de destination contenant les scripts
        dist_style_folder    = "style/",    // nom du dossier de destination contenant les styles
        // dist - file
        dist_script_file     = "bundle.js",   // nom du bundle pour le script
        dist_style_file      = "bundle.css",  // nom du bundle pour le style

        purify_html_file     = "/*.html"; // Quel(s) fichier(s) HTML à regarder pour purifier le CSS

const rootPath         = path.resolve(__dirname),
      srcPath          = rootPath + source,
      srcPath_JS       = srcPath + source_script_folder,
      srcPath_SCSS     = srcPath + source_style_folder,
      srcPath_IMG      = srcPath + source_images_folder,
      srcPathMain_JS   = srcPath_JS   + source_script_file,
      srcPathMain_SCSS = srcPath_SCSS + source_style_file,

      distPath         = rootPath + dist;
      
module.exports = {
  rootPath:         rootPath,
  // SOURCE PATH
  srcPath:          srcPath,
  srcPath_JS:       srcPath_JS,
  srcPath_SCSS:     srcPath_SCSS,
  srcPath_IMG:      srcPath_IMG,
  srcPathMain_JS:   srcPathMain_JS,
  srcPathMain_SCSS: srcPathMain_SCSS,
  // DESTINATION
  distPath:         distPath,
  distFolder_JS:    dist_script_folder,
  distFolder_IMG:   dist_image_folder,
  distFolder_CSS:   dist_style_folder,
  bundle_JS:        dist_script_file,
  bundle_CSS:       dist_style_file,
  // purify
  purify: {
    testFile:       distPath + purify_html_file
  }
}

