const path = require('path');

// Variables à changer:      
const 
// SOURCES
      source               = '/resources/assets', // nom du dossier source contenant tout le html / css / js...
      // source - folder
      source_images_folder = '/images',          // nom du dossier source contenant les images
      source_script_folder = '/js',              // nom du dossier source contenant les scripts
      source_style_folder  = '/sass',            // nom du dossier source contenant les styles
      source_html_folder   = '/templates/pages', // nom du dossier source contenant les templates .pug
      // source - file
      source_script_file   = "/app.js",    // nom du fichier source du script maître contenant tous les imports
      source_style_file    = "/app.scss",  // nom du fichier source du style maître contenant tous les imports
// COMPILATION
      dist                 = '/public',   // nom du dossier de destination après compilation
        // dist - folder
        dist_image_folder    = "images/", // nom du dossier de destination contenant les images
        dist_script_folder   = "js/",     // nom du dossier de destination contenant les scripts
        dist_style_folder    = "css/",    // nom du dossier de destination contenant les styles
        // dist - file
        dist_script_file     = "app.js",   // nom du bundle pour le script
        dist_style_file      = "app.css",  // nom du bundle pour le style
        // purify
        purify_html_file     = "/*.html"; // Quel(s) fichier(s) HTML à regarder pour purifier le CSS
        // sourcemap
        sourcemap            = true; // Activation du source map JS
        // minification
        html_pretty          = false; // Activation de la minification des fichiers html lors du "npm run prod" (false = minification)
        css_minification     = true;  // Activation de la minification du bundle css lors du "npm run prod"
        js_minification      = true;  // Activation de la minification du bundle js lors du "npm run prod"

const rootPath = path.resolve(__dirname),
      srcPath          = rootPath     + source,
      srcPath_JS       = srcPath      + source_script_folder,
      srcPath_SCSS     = srcPath      + source_style_folder,
      srcPath_IMG      = srcPath      + source_images_folder,
      srcPath_HTML     = srcPath      + source_html_folder,
      srcPathMain_JS   = srcPath_JS   + source_script_file,
      srcPathMain_SCSS = srcPath_SCSS + source_style_file,

      distPath         = rootPath + dist;
      
module.exports = {
  rootPath:         rootPath,
  // SOURCE PATH
  srcPath:          srcPath,
  srcPath_JS:       srcPath_JS,
  srcPath_SCSS:     srcPath_SCSS,
  srcPath_IMG:      srcPath_IMG,
  srcPath_HTML:     srcPath_HTML,
  srcPathMain_JS:   srcPathMain_JS,
  srcPathMain_SCSS: srcPathMain_SCSS,
  // DESTINATION
  distPath:         distPath,
  distFolder_JS:    dist_script_folder,
  distFolder_IMG:   dist_image_folder,
  distFolder_CSS:   dist_style_folder,
  bundle_JS:        dist_script_file,
  bundle_CSS:       dist_style_file,
  // purify
  purify: {
    testFile:       distPath + purify_html_file
  },
  // sourcemap
  sourcemap,
  // minification
  html_pretty,
  css_minification,
  js_minification
}
