extends ../main
//------------------------------------*\
    $ VARIABLES
//------------------------------------*/
block vars
  - var documentTitle = 'Je suis le titre de la homepage'
  - var documentDesc  = 'Je suis la description de la Homepage'
  - var bodyClass     = "homepage"
//------------------------------------*\
    $ Page: homepage.html
//------------------------------------*/
block main
  section.container
    .content
      h1 je suis dans la homepage.
      hr

      h2 balise img html :
      img(src=pathImg+"homepage/logo.png" style="width:400px")
      hr

      h2 div dans image en SCSS background-image
      .A_SUPPRIMER__SCSS-img
      hr
      
      h2 icon html :
      +icon("add-black", "voir plus")
      hr