block nav
- 
  var datanav = [
    {
      name: "homepage",
      url: pathHtml + "/homepage" + extensionHtmlFile
    },
    {
      name: "article",
      url: pathHtml + "/article" + extensionHtmlFile
    }
  ]


nav.main-nav.container(role="navigation")
  div.content
    ul.list
      for link in datanav
        li.item(role="menuitem")
          a(href=link.url) #{link.name}