{% extends "layout.twig" %}

{% set currentPage = {
  title: 'Titre du site',
  description: 'description de la page',
  bodyClass: 'homepage',
  navActive: 'Homepage',
} %}

{# {% block style %}{% endblock %} #}

{% block header %} {% include '_include/main-header.twig' %} {% endblock %}
{% block body %}
  <p>homepage</p>
{% endblock %}


{# {% block script %}{% endblock %} #}