/*———————————————————————————————————*\
    $ OVERLAY
\*———————————————————————————————————*/
%overlay:after {
  content    : '';
  width      : 100%;
  height     : 100%;
  display    : block;
  background : rgba(0, 0, 0, 0.1);
  position   : absolute;
  top        : 0;
}


/*———————————————————————————————————*\
    $ CENTER ABSOLUTE
\*———————————————————————————————————/*
  Centre en position absolute

  @use
    @extend %a_x;
    @extend %a_y;
    @extend %a_xy;

  @result
  // a_x
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  // a_y
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  // a_xy
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/
@each $center in 'x', 'y', 'xy' {
  %a-#{$center}{
    @include center-absolute($center);
  }
}


/*———————————————————————————————————*\
    $ CENTER FLEX
\*———————————————————————————————————/*
  Centre en display flex

  @use
    @extend %f_x;
    @extend %f_y;
    @extend %f_xy;

  @result
  // f_x
    display: flex;
    justify-content: center;
  // f_y
    display: flex;
    align-items: center;
  // f_xy
    display: flex;
    align-items: center;
    justify-content: center;
*/
@each $center in 'x', 'y', 'xy' {
  %f-#{$center}{
    @include center-flex($center);
  }
}


/*———————————————————————————————————*\
    $ CENTER BLOCK
\*———————————————————————————————————/*
  Centre en display block

  @use
    @extend %b-x;

  @result
    display: block;
    margin-left: auto;
    margin-right: auto;
*/
%b-x {
  @include center-block;
}