/*———————————————————————————————————*\
    $ large-desktop
\*———————————————————————————————————/*
  Média pour les grand écrans d'ordinateurs

  @use
    @include large-desktop() {
      // Code for large-desktop device
    }
     
  @result
    @media screen and (min-width: 1200px) {
        // Code for large-desktop device
    }
*/
@mixin large-desktop {
  @media screen and (min-width: #{$large-desktop}) {
    @content;
  }
}


/*———————————————————————————————————*\
    $ desktop
\*———————————————————————————————————/*
  Média pour les écrans d'ordinateurs et -

  @use
    @include desktop() {
       // Code for desktop device
    }

  @result
    @media screen and (min-width: 1200px) {
        // Code for desktop device
    }
*/
@mixin desktop {
  @media screen and (max-width: #{$large-desktop}) {
    @content;
  }
}


/*———————————————————————————————————*\
    $ only-tablet
\*———————————————————————————————————/*
  Média uniquement pour les écrans de tablette

  @use
    @include only-tablet() {
       // Code for only-tablet device
    }

  @result
    @media screen and (min-width: 767px) and (max-width: 1024px) {
        // Code for only-tablet device
    }
*/
@mixin only-tablet {
  @media screen and (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    @content;
  }
}


/*———————————————————————————————————*\
    $ tablet
\*———————————————————————————————————/*
  Média pour les écrans de tablette et -

  @use
    @include tablet() {
       // Code for tablet device
    }

  @result
    @media screen and (max-width: 1024px) {
        // Code for tablet device
    }
*/
@mixin tablet {
  @media screen and (max-width: #{$desktop}) {
    @content;
  }
}

/*———————————————————————————————————*\
    $ mobile
\*———————————————————————————————————/*
  Média uniquement pour les écrans mobile

  @use
    @include mobile() {
       // Code for mobile device
    }

  @result
    @media screen and (max-width: 768px) {
        // Code for mobile device
    }
*/
@mixin mobile {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}


/*———————————————————————————————————*\
    $ small-mobile
\*———————————————————————————————————/*
  Média uniquement pour les écrans small-mobile

  @use
    @include small-mobile() {
       // Code for small-mobile device
    }

  @result
    @media screen and (max-width: 400px) {
        // Code for small-mobile device
    }
*/
@mixin small-mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}


/*———————————————————————————————————*\
    $ landscape
\*———————————————————————————————————/*
  Média uniquement pour les écrans en format paysage

  @use
    @include landscape() {
       // Code for landscape device
    }

  @result
    @media screen and (orientation: landscape) {
        // Code for landscape device
    }
*/
@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

/*———————————————————————————————————*\
    $ print
\*———————————————————————————————————/*
  Média uniquement pour l'impression

  @use
    @include print() {
       // Code for printer
    }

  @result
    @media print {
        // Code for printer
    }
*/
@mixin print {
  @media print {
    @content;
  }
}

/*———————————————————————————————————*\
    $ TITLE
\*———————————————————————————————————/*
  Raccourcie de media query

  @use
    @include media(max-width:350px) {
       // Code for your media max-width 350px device
    }

  @result
    @media screen and (max-width: 350px) {
       // Code for your media max-width 350px device
    }
*/
@mixin media($media){
  @media screen and (#{$media}) {
    @content;
  }
}

/*———————————————————————————————————*\
    $ center-absolute
\*———————————————————————————————————*/
@mixin center-absolute($xy) {
  position: absolute;
  
  @if $xy == 'x' {
    left: 50%;
    transform: translate(-50%);
  }
  @else if $xy == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if $xy == 'xy' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*———————————————————————————————————*\
    $ center-flex
\*———————————————————————————————————*/
@mixin center-flex($xy) {
  display: flex;

  @if $xy == 'x' {
    justify-content: center;
  }
  @else if $xy == 'y' {
    align-items: center;
  }
  @else if $xy == 'xy' {
    align-items: center;
    justify-content: center;
  }
}
/*———————————————————————————————————*\
    $ center-block
\*———————————————————————————————————*/
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*———————————————————————————————————*\
    $ rem
\*———————————————————————————————————/*
  px to rem

  @use
    padding: rem(16px) rem(32px);

  @result
    padding: 1rem 2rem;
*/
@function rem($fz-body) {
  $remSize: $fz-body / 16px;
  @return  $remSize * 1rem;
}

/*———————————————————————————————————*\
    $ font-size
\*———————————————————————————————————/*
  Font-size rem and fallback px

  @use
    @include font-size(16px);

  @result
    font-size: 16px;
    font-size: 1rem;
*/
@mixin font-size($size) {
  font-size: $size;
  font-size: rem($size);
}