/*———————————————————————————————————*\
    $ COLORS
\*———————————————————————————————————*/
  $primary   : #3bcf9a !default;
  $secondary : #0b0726 !default;

/*———————————————————————————————————*\
    $ FONTS
\*———————————————————————————————————*/
  $ff-body:     Helvetica, Roboto, 'Open Sans', Arial, sans-serif; 
    $fz-body:   16px; 
  $ff-title:    'Times New Roman', Times, serif;
    $fz-h1:     35px; 
    $fz-h2:     30px;
    $fz-h3:     25px;
    $fz-h4:     18px;
    
    $fz-h1-t:   30px; 
    $fz-h2-t:   25px;
    $fz-h3-t:   18px;
    $fz-h4-t:   16px;
    
    $fz-h1-m:   25px; 
    $fz-h2-m:   18px;
    $fz-h3-m:   16px;
    $fz-h4-m:   14px;
    
/*———————————————————————————————————*\
    $ PATHS
\*———————————————————————————————————*/
  $pathIMG : "../images/";

/*———————————————————————————————————*\
    $ LISTS
\*———————————————————————————————————*/
  $list-medias: large-desktop desktop tablet only-tablet mobile landscape print;
  $list-color: ('primary', $primary), ('secondary', $secondary);
  

/*———————————————————————————————————*\
    $ MEDIAS
\*———————————————————————————————————*/
  $mobile        : 400px; 
  $tablet        : 768px; 
  $desktop       : 1024px; 
  $large-desktop : 1200px;