extends ../layout
//- 
  VARIABLES
//- 
block vars
  - var documentTitle = 'Homepage'
  - var documentDesc  = 'Vous êtes dans la Homepage'
  - var bodyClass     = "homepage"
//- 
  CONTENT
//-
block main
  section.container
    .content
      p je suis dans la homepage.