//------------------------------------*\
    $ element : icons
//------------------------------------*/
mixin icon(icon_name, icon_description="")
  span(class="fa fa-" + icon_name aria-label=icon_description)&attributes(attributes)
//------------------------------------*\
    $ icon
    //________  @VAR
      1: icon-name        : nom de l'icone (ex: 'menu')
      2: icon-description : aria label de l'icone (ex: 'ouverture du menu')

    //________  @USE
      +icon("menu", "Ouverture du menu")

    //________  @RETURN
      <span class="fa fa-menu" aria-label="Ouverture du menu"></span>
//------------------------------------*\
