//------------------------------------*\
    $ Layout : footer
//------------------------------------*/
block footer
  footer.main-footer.container(role="contentinfo")
    .content
      p ici le footer