block config
  //- Variables
  - pathHtml          = '.'
  - extensionHtmlFile = '.html'

  //- Paths
  - pathImg           = '../src/img'
  - pathCss           = './bundle.css'
  - pathJs            = './bundle.js'